<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Townie</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>


  <nav class="navbar">
    <div class="navbar-brand">
      <ul>
        <li class="navbar-item">
          <a href="/">Home</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container is-fluid has-text-centered">
    {{{body}}}
  </div>
  <footer class="footer has-text-centered">
    <p>Created by
      <a href="https://github.com/BrandonS8/project-2" target="_blank" class="has-text-weight-semibold">Brandon</a>
    </p>
    <a href="https://bulma.io">
      <img src="https://bulma.io/images/made-with-bulma--semiblack.png" alt="Made with Bulma" width="128" height="24">
    </a>
  </footer>
</body>

</html>