<h1>{{name}}</h1>
<form action="/{{this.id}}" method="post">
  <input type="text" name="name" placeholder="name">
  <input type="text" name="resident" placeholder="resident">
  <input type="submit" value="create">
</form>